h2 {
  font-size: 20px;
  color: red;
}
:fullscreen a {
  display: flex;
}

a {
  padding: 20px;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .foo {
    width: 576px;
  }
}

.bar {
  width: 160px;
}

@media screen and (min-width: 768px) {
  .bar {
    width: 384px;
  }
}
