/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid #f9f9f9;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#app:before {
  content: '';
  display: table;
}

#app:after {
  content: '';
  display: table;
  clear: both;
}

header,
nav,
footer,
.main,
.wrapper,
.item-list-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1 - (30px - 30px * 1));
  max-width: calc(99.9% * 1 - (30px - 30px * 1));
  width: calc(99.9% * 1 - (30px - 30px * 1));
}

header:nth-child(1n),
nav:nth-child(1n),
footer:nth-child(1n),
.main:nth-child(1n),
.wrapper:nth-child(1n),
.item-list-wrapper:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

header:last-child,
nav:last-child,
footer:last-child,
.main:last-child,
.wrapper:last-child,
.item-list-wrapper:last-child {
  margin-right: 0;
}

header:nth-child(NaNn),
nav:nth-child(NaNn),
footer:nth-child(NaNn),
.main:nth-child(NaNn),
.wrapper:nth-child(NaNn),
.item-list-wrapper:nth-child(NaNn) {
  margin-right: 0;
  margin-left: auto;
}

header:before,
nav:before,
footer:before,
.main:before,
.wrapper:before,
.item-list-wrapper:before {
  content: '';
  display: table;
}

header:after,
nav:after,
footer:after,
.main:after,
.wrapper:after,
.item-list-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

header {
  height: 60px;
  background-color: coral;
  display: flex;
  flex-flow: row wrap;
  display: flex;
}

header {
  justify-content: center;
  align-items: center;
}

header .title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  max-width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
}

header .title:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

header .title:last-child {
  margin-right: 0;
}

header .title:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}

header .info {
  float: right;
  text-align: right;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  max-width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
}

header .info:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

header .info:last-child {
  margin-right: 0;
}

header .info:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}

nav {
  height: 60px;
  background-color: green;
  display: flex;
}

nav {
  justify-content: flex-start;
  align-items: center;
}

nav a {
  font-size: 16px;
  padding-left: 20px;
  color: black;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
}

.item {
  height: 100%;
  margin-bottom: 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  max-width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
}

.item:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

.item:last-child {
  margin-right: 0;
}

.item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}

.item-single {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1 - (30px - 30px * 1));
  max-width: calc(99.9% * 1 - (30px - 30px * 1));
  width: calc(99.9% * 1 - (30px - 30px * 1));
}

.item-single:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

.item-single:last-child {
  margin-right: 0;
}

.item-single:nth-child(1n) {
  margin-right: 0;
  margin-left: auto;
}

.item-single .cell:nth-child(1) {
  width: 150px;
}

#YMapsID {
  height: 400px;
  margin-bottom: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1 - (30px - 30px * 1));
  max-width: calc(99.9% * 1 - (30px - 30px * 1));
  width: calc(99.9% * 1 - (30px - 30px * 1));
}

#YMapsID:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
}

#YMapsID:last-child {
  margin-right: 0;
}

#YMapsID:nth-child(NaNn) {
  margin-right: 0;
  margin-left: auto;
}

#item-map {
  height: 400px;
}

.highlightedItem {
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-shadow: 0px 0px 5px 5px #ff000d;
  box-shadow: 0px 0px 5px 5px #ff000d;
}

input,
select,
textarea {
  margin: 5px;
  background: aquamarine;
}

input[type="button"] {
  padding: 5px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.row:nth-child(even) {
  background-color: #eef0ee;
}

.row:nth-child(odd) {
  background-color: #e0dede;
}

.item .head div {
  float: left;
  width: 50%;
  padding: 15px;
  text-align: center;
  background-color: #a671e4;
}

.item .bot {
  padding: 15px;
  text-align: center;
  background-color: #a671e4;
}

.cell {
  display: table-cell;
  padding: 15px;
  border: 1px solid gray;
}

.cell:nth-child(1) {
  width: 30%;
  vertical-align: middle;
}

@media only screen and (max-device-width: 500px) {
  header .info {
    display: none;
  }
}
