@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: local("Roboto Light"), local(Roboto-Light), url(//fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local(Roboto), local(Roboto-Regular), url(//fonts.gstatic.com/s/roboto/v16/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"), local(Roboto-Bold), url(//fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"), url(//fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(//fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

h2 {
  font-size: 20px;
  color: red;
}

:-webkit-full-screen a {
  display: -webkit-box;
  display: flex;
}

:-moz-full-screen a {
  display: flex;
}

:-ms-fullscreen a {
  display: -ms-flexbox;
  display: flex;
}

:fullscreen a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  margin: 10px;
  padding: 20px;
}

.bar {
  width: 160px;
}

@media screen and (min-width: 768px) {
  .foo {
    width: 576px;
  }

  .bar {
    width: 384px;
  }
}
